<div class="container">
    <div class="row">
        <div class="view-port">
            <img src="assets/img/main_background.png" style="position:absolute; z-index:999; pointer-events:none;">
            <widget clean="false" src="scripts/widgets/controlmenu/controlmenu.js"></widget>
            <widget clean="false" src="scripts/widgets/towermenu/towermenu.js"></widget>
            <div id="grid-container" class="col-lg-12 grid-map-transform">
                <widget clean="false" src="scripts/widgets/map/map.js"></widget>
                <widget clean="false" src="scripts/widgets/animation/animation.js"></widget>
            </div>
        </div>
    </div>
</div>





